<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('../layout', { title: 'All Flights', body: flights }) %>

<% flights.forEach(flight => { %>
  <p>
    Airline: <%= flight.airline %><br>
    Flight No.: <%= flight.flightNo %><br>
    Airport: <%= flight.airport %><br>
    Departs: <%= flight.departs.toLocaleString() %>
  </p>
<% }); %>
</body>
</html>