<%- include('../layout', { title: 'All Flights' }) %>

<h1>All Flights</h1>

<div class="container">
  <% flights.forEach(flight => { %>
    <div class="flight-card">
      <p>Airline: <%= flight.airline %></p>
      <p>Flight No.: <%= flight.flightNo %></p>
      <p>Airport: <%= flight.airport %></p>
      <p>Departs: <%= flight.departs %></p>
      <a href="/flights/<%= flight._id %>">Details</a>
    </div>
  <% }); %>
</div>
