<%- include('../layout', { title: 'Flight Details', body: body }) %>

<h1>Flight Details</h1>

<div>
    <p>Airline: <%= flight.airline %></p>
    <p>Flight No.: <%= flight.flightNo %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Departs: <%= flight.departs %></p>
</div>