<%- include('../layout', { title: 'Flight Details', body: body }) %>

<h1>Flight Details</h1>

<div class="flight-details">
    <p>Airline: <%= flight.airline %></p>
    <p>Flight No.: <%= flight.flightNo %></p>
    <p>Airport: <%= flight.airport %></p>
    <p>Departs: <%= flight.departs %></p>
</div>

<h2>Destinations</h2>
<ul class="destinations-list">
  <% flight.destinations.forEach(destination => { %>
    <li>
        <strong>Airport:</strong> <%= destination.airport %><br>
        <strong>Arrival:</strong> <%= destination.arrival %>
    </li>
  <% }); %>
</ul>
<a class="add-destination-link" href="/flights/<%= flight._id %>/destinations/new">Add Destination</a>

<h2>Tickets</h2>
<ul>
  <% tickets.forEach(ticket => { %>
    <li>Seat: <%= ticket.seat %>, Price: <%= ticket.price %></li>
  <% }); %>
</ul>
<a href="/flights/<%= flight._id %>/tickets/new" class="button">New Ticket</a>
